.hero {
  background-color: #c4c4c4;
  margin: 0 auto;
  margin-top: 64px;
  @media screen and (min-width: $tablet) {
    margin-top: 80px;
  }
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1000px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media screen and (max-width: 479px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header-480.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/header-480@2x.jpg);
    }
  }
  @media screen and (min-width: $mobile) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header-768.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/header-768@2x.jpg);
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1600px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/header-desktop@2x.jpg);
    }
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ececec;
}

.header {
  text-align: center;
}

.header__title {
  @include font(900, 26px, 42px, 0.06em, $white);
  display: flexbox;
  margin-bottom: 30px;
  width: 360px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

/*button*/
.hero-button {
  @extend %second-button;
  box-shadow: none;
  padding: 10px 32px;
  min-width: 200px;
  &:hover,
  &:focus {
    background-color: #188ce8;
    color: $white;
    box-shadow: 0px 2px 3px rgba(135, 206, 235, 0.12),
      0px 1px 1px rgba(135, 206, 235, 0.14),
      0px 2px 1px rgba(135, 206, 235, 0.2);
  }
}
