.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $white;
    overflow-y: scroll;
    padding: 48px 40px;
    position: relative;
    height: 100%;
    z-index: 99;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
  }

  &.is-open {
    display: block;
  }
}
// .menu-wrapper {
//   @media screen and (max-width: 767px) {
//     padding: 48px 40px;
//     position: relative;
//     height: 100%;
//   }
//   @media screen and (min-width: $tablet) {
//     display: flex;
//     flex-grow: 1;
//     align-items: center;
//     justify-content: space-evenly;
//   }
// }
.menu-button {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  &.is-open .menu-close {
    display: none;
  }

  &.is-open .menu-open {
    display: block;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-close-button {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-open {
  display: none;
}

/* NAVIGATION */

.menu-network {
  @include font(500, 18px, 22px, 0.02em, $accent-color);
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-network__item {
  padding: 0 10px;
}

.menu-network__item:first-child {
  padding-left: 0;
}

.menu-network__item:not(:last-child) {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
}

.menu-network__link {
  color: $accent-color;
  transition: color $time-transition $cubik;
  &:hover,
  &:focus {
    color: black;
  }
}
