.menu-container {
  @media screen and (max-width: 767px) {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 99;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-icon {
  fill: inherit;
  transform: fill $time-transition $cubik;
  .menu-toggle:hover &,
  .menu-toggle:focus & {
    fill: $accent-color;
  }
}

.menu-toggle.js-close-menu {
  margin-top: 10px;
  margin-right: 15px;
}

.mobile-menu {
  padding: 0 0 55px 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .contact-pages__item:first-child {
    margin-top: 34px;
  }
}

.menu-network {
  @include font(500, 18px, 22px, 0.02em, $accent-color);
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-network__item {
  padding: 0 10px;
}

.menu-network__item:first-child {
  padding-left: 0;
}

.menu-network__item:not(:last-child) {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
}

.menu-network__link {
  color: $accent-color;
  transition: color $time-transition $cubik;
  &:hover,
  &:focus {
    color: black;
  }
}

@media screen and (max-width: 767px) {
  .navi-pages,
  .contact-pages {
    display: none;
  }
}

.contact-mobile {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
  }
}
