.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity $time-transition $cubik;
}

.backdrop.is-hidden .modal {
    transform: scale(0.9) translate(-50%, -50%);
    opacity: 0;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.form-wrapper {
    position: relative;
        width: 528px;
            height: avto;
            top: 430px;
            left: 50%;
            opacity: 1;
            transform: scale(1) translate(-50%, -50%);
            background-color: $white;
            transition: scale $time-transition $cubik,
                opacity $time-transition $cubik;
            z-index: 999;
}

.modal-close {
    @extend %aline-justify;
    position: absolute;
    width: 30px;
    height: 30px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 8px;
    right: 8px;
    background-color: $white;
}

.modal-close__icon {
    width: 18px;
    height: 18px;
    fill: currentColor;

    .modal-close:hover & {
        fill: $accent-color;
    }
}

.form-area {
    padding: 40px;
}

.form-area__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.form-area__field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.form-area__input {
    width: 100%;
    padding: 14px 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color $time-transition $cubik;
    &:focus {
            border-color: $accent-color;
        }
    
        &:focus~.form-area__icon {
            fill: $accent-color;
        }
}

.form-area__input[placeholder] {
    padding-left: 43px;
}


.form-area__label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $secondary-text-color;
}

.form-area__icon {
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
    left: 15px;
    top: 42px;
    width: 18px;
    height: 18px;
    fill: black;
    transition: fill $time-transition $cubik;
}

.form-comment {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $secondary-text-color;
}

.form-comment__textarea {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    outline: transparent;
    resize: none;
    transition: border-color $time-transition $cubik;
    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
    
        &:focus {
            border-color: $accent-color;
        }
}


.checkbox {
    @extend %aline-justify;
        width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: $secondary-text-color;
}

.checkbox__input {
@extend %visually-hidden;
}

.checkbox__icon {
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 7px;
    background-color: $white;
    transition: background-color $time-transition $cubik,
        border-color $time-transition $cubik;
}

.checkbox__input:checked+.checkbox__icon {
    background-color: $accent-color;
    border-color: $accent-color;
}

.checkbox__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $accent-color;
    margin-left: 5px;
}

.send-button {
    @extend %second-button;
    padding: 10px 55px;
    min-width: 200px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}