.contact-pages__link,
.navi-pages__link {
  @include font(500, 14px, 16px, 0.02em, null);
  @media screen and (max-width: 767px) {
    @include font(500, 40px, 47px, 0.02em, null);
  }
}
.navi-pages__link {
  @media screen and (min-width: $tablet) {
    padding: 32px 0;
  }
}

.navi-pages__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.navi-pages {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 90px;
    .navi-pages__item:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.navi-pages__link {
  display: inline-block;
  color: $primary-text-color;
  transition: color $time-transition $cubik;
  @media screen and (min-width: $tablet) {
    position: relative;
    &::after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      border-radius: 4px;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      transform: scaleX(0);
      transition: transform $time-transition $cubik;
    }
    @media screen and (min-width: $desktop) {
      padding: 32px 0;
    }
  }
  &:hover:after,
  &:focus:after {
    transform: scaleX(1);
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.current__link {
  color: $accent-color;
}

.current__link::after {
  content: "";
  transform: scaleX(1);
}
