.skill {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 30px;
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 30px;
  }
}

// .skills__item {
//     }

.skills__blockicon {
  margin-bottom: 30px;
  @extend %aline-justify;
  height: 120px;
  background-color: #f5f4fa;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.skills__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.skills__title {
  @include font(700, 14px, 16px, 0.03em, null);
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.skills__text {
  @include font(400, 14px, 24px, 0.03em, $secondary-text-color);
}
