%button {
    background-color: #f5f4fa;
    color: $primary-text-color;

    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.26;
    letter-spacing: 0.03em;

    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    transition: background-color $time-transition $cubik,
        color $time-transition $cubik,
        box-shadow $time-transition $cubik;
}

%second-button {
        background-color: $accent-color;
        color: $white;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.26;
        letter-spacing: 0.03em;
            
        border-radius: 4px;
        border: 0;
        padding: 6px 22px;
        transition: background-color $time-transition $cubik,
            color $time-transition $cubik,
            box-shadow $time-transition $cubik;
}
%logo {
        color: $primary-text-color;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
            letter-spacing: 0.03em;
}

%aline {
    display: flex;
    align-items: center;
}

%aline-justify {
        display: flex;
            align-items: center;
            justify-content: center;
}

%justify {
        display: flex;
        justify-content: center;
}

%network__link {
    @extend %aline-justify;
        outline: transparent;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        box-shadow: none;
        transition: box-shadow $time-transition $cubik,
            background-color $time-transition $cubik;
}

%network__icon {
        width: 20px;
            height: 20px;
            fill: $icon-color;
}
